@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
  
  --color-card: #141414;
  --color-card-foreground: #ffffff;

  --color-primary: #e50914;
  --color-primary-foreground: #ffffff;

  --color-muted: #141414;
  --color-muted-foreground: #999999;

  --color-accent: #1f1f1f;
  --color-accent-foreground: #ffffff;

  --color-border: #262626;

  --color-free: #00b894;
  --color-paid: #fdcb6e;
  --color-18plus: #e17055;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}
