@import "tailwindcss";

:root {
  --background: #F3E3D0;
  --foreground: #334155;
  
  --card: #FFFFFF;
  --card-foreground: #334155;

  --primary: #81A6C6;
  --primary-foreground: #FFFFFF;

  --muted: #EDE0D0;
  --muted-foreground: #64748b;

  --accent: #AACDDC;
  --accent-foreground: #334155;

  --border: #D2C4B4;

  --font-geist-sans: var(--font-inter);
  --font-geist-mono: monospace;
}

.dark, [data-theme='dark'] {
  --background: #1E293B;
  --foreground: #F8FAFC;
  
  --card: #0F172A;
  --card-foreground: #F8FAFC;

  --primary: #81A6C6;
  --primary-foreground: #FFFFFF;

  --muted: #334155;
  --muted-foreground: #94A3B8;

  --accent: #334155;
  --accent-foreground: #F8FAFC;

  --border: #475569;
}

@theme {
  --dark-mode: class;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);

  --color-free: #00b894;
  --color-paid: #fdcb6e;
  --color-18plus: #e17055;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}
